In [1]:
import pandas as pd 

data = pd.read_csv('../data/UpdatedResumeDataSet.csv')

In [2]:
data.head()

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...

In [3]:
# save every data['Resume'] into a txt file in data/resumes
import os

os.makedirs('../data/resumes', exist_ok=True)
for i, resume in enumerate(data['Resume']):
    with open(f'../data/resumes/resume_{i}.txt', 'w') as f:
        f.write(resume)